
html {
    margin: 0px;
    height: 100%;
    width: 100%;
 }
 
 body {
    margin: 0px;
    min-height: 100%;
    width: 100%;
 }

body {
    background: url('/images/color_paints.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.page {
    position: absolute;
    background: rgba(15,15,15,0.95);
    color: rgb(200, 200, 200);
    height: 100%;
    width: 100%;
    overflow: auto;
}

dl {
    margin-bottom: 0;
}

dl.dl-horizontal > * {
    display: inline;
}

dl.dl-horizontal > dt {
    margin-left: 20px;
}

dl.dl-horizontal > dd {
    margin-left: 5px;
}

dl.dl-horizontal > dt::after {
    content: ":";
}

.form-control {
    background-color:  #222222!important;
    border-color:#6c757d;
    color: white;
  }